anyio
black==22.6.0
fastapi==0.79.0
flake8==5.0.4
flake8-annotations==2.9.1
mypy==0.971
mypy-extensions==0.4.3
pydantic
pyflakes==2.5.0
pyparsing==3.0.9
pytest
python-dotenv==0.20.0
python-multipart==0.0.5
PyYAML==6.0
requests
six==1.16.0
sniffio==1.2.0
starlette
tomli==2.0.1
typing_extensions==4.3.0
ujson==5.4.0
urllib3==1.26.11
uvicorn==0.17.6
watchgod==0.8.2
websockets==10.3
wincertstore==0.2
sqlalchemy
gunicorn